@font-face {
    font-family: Brolink;
    src: url(Brolink.otf);
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-elements{
    justify-content: space-evenly;
    list-style-type: none;
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    margin-right: 5px;
    flex-wrap: wrap;
}
.navbar-elements li{
    margin-right: 20px;
    margin-bottom: 7px;
    margin-top: 7px;
}
#navbar-logo{
    font-weight: bolder;
    font-family: Brolink;
}
#navbar-logo #sky{
    font-style: oblique;
    color:aqua;
    font-weight: 50;
    text-shadow:
               
                0 0 10px rgb(0, 170, 255);
}
#navbar-logo #net{
    color: aliceblue;
    margin: 3px;
    font-style: italic;
    font-weight: bolder;
    font-size:x-large;
    text-shadow: 
                0 0 10px #a4f1ff;
               
}
#navbar-logo #dotcom{
    font-size: small;
    color: #a4ffd6;
    font-style: oblique;

    font-weight: 50;
}
.navbar{
    color: #b7e8fb ;
    background-color: #102B3F 
    ;
    padding-top:0px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #00fff7 */
}
.navbar a{
    text-decoration: none;
}
.navbar:hover{
    border-color: rgb(0, 75, 151);
    background-color:  #0a212e;
    transition: all ease-in-out 0.2s;
}
#loginbtn{
    background-color:#002a5a ;
    color: #b7e8fb;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    border: 2px solid #b7e8fb ;
    height: 30px;
    width: 70px
}
#loginbtn:hover{
    background-color: #b7e8fb;
    color: #002a5a ;
    transition: all ease-in-out 0.2s;
    font-weight: bolder;
    width: 70px;
}
#signupbtn{
    background-color: #b7e8fb;
    color: #001a37 ;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    border: 2px solid #002a5a ;
    height: 30px;
}
#signupbtn:hover{
    background-color: #6cadd5 ;
    color: white;
    transition: all ease-in-out 0.2s;
}
#down-arrow{
    width: 10px;
}

.footer-home{
    color: #b7e8fb;
    background: linear-gradient(#002a5a , #000607);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all ease-in-out 2s;
}
.footer-home:hover{
    background: linear-gradient(#0a212e , #000607);
    background-position: 100px;
}
.footer-list{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    width: 70%;
    font-size: 10px;
    margin: 0px;
    display: flex;
    align-items: center;
    align-content: center;
    list-style-type: none;
    border-bottom: 1px solid #b7e8fb;
    padding-bottom: 50px;
    justify-content: space-between;
}
.footer-div{
    
    font-size: 10px;
    width: 55%;
    display: flex;
    justify-content: space-between;
}
.home-page-body{
    background-color: #01071e;
    background: url(background.png);
    background-size: cover;
    background-repeat: repeat-y;
    height: 1000PX;
}
.banner-1{
    z-index: 999;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 10px;
    padding:50px ;
    PADDING-TOP: 10PX;
    height: fit-content;
    
}
.banner-background{
    
    padding: 30px;
    height: fit-content;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}
/* @keyframes plane{
    0%{
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
} */
#banner1-head{
    text-align: center;
    width: fit-content;
}
.banner-1 #search{
    text-decoration: none;
    background: linear-gradient(#00172d,rgb(0, 32, 80), rgb(0, 7, 71)    );
    color: white;
    margin: 10px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.banner-1 p{
    width: 400px;
    text-align: center;
}